.fade.in {
    opacity: 1;
}

.documents-ui-validation-error > :nth-child(2) {
    border-color: #df3834;
}

/*Временно*/
.search-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: none;
}

/*@media (min-width: 768.98px) {
    .sticky-menu {
        width: 228px;
        position: -webkit-sticky;
        position: sticky;
        /*position: fixed;
        top: 0;
    }
}*/