/* ----  Buttons  ---- */

@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, darken($value, 7%));
    }
}


a.btn {
    text-decoration: none;
}

// пач за btn-link
.btn {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      &.btn-link {
        box-shadow: none;        
      }
      &:focus {
        &.btn-link {
            box-shadow: none;
        }      
      }
    }
}

.btn-link {    
    display: inline;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
    vertical-align: inherit;
    text-decoration: $link-decoration;
    &:focus {              
        text-decoration: $link-decoration;
        &:hover {              
            text-decoration: $link-hover-decoration;
        }
    }

}

.btn-secondary, .btn-secondary:hover {
    // color: $link-color;
    color: $gray-800;
}

.btn {

    white-space: normal;

    .ui-icon {
        width: 1rem;
        height: 1rem;
        vertical-align: -12%;
    }
}

.btn-lg {
    .ui-icon {
        width: 1.15rem;
        height: 1.15rem;
        vertical-align: -12%;
    }
}

.btn-sm {
    .ui-icon {
        vertical-align: -20%;
        // width: .875rem;
        // height: .875rem;
    }
}

.btn-outline-light:hover {
    // background-color: $gray-200;
    border-color: $gray-300;    
}

.btn-outline-light {
    background-color: $gray-100;

}


.btn-context-help {
    padding: 0;
    margin-left: $template-container-margin-horizontal / 2;
    border-radius: 50%;
    white-space: nowrap;
    vertical-align: middle;
    &::before{
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;        
        margin: 0.0625rem;        
        background-image: url("../images/icons/btn/question.svg");
        background-position: center center;
        background-repeat: no-repeat;        
    }
}

/* ----  /Buttons  ---- */