<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--Настройки за връзка към базата данни
    Data Source = идентификатор от TNSNames.ora файла за достъп до базата данни.
    User id = потребител 
    Password = парола
    -->
    <add name="defaultRWConnectionString" connectionString="User Id=epzeu_dev;Password=epzeu_dev;Host=vm-av-epzeu-db1.dev.local;Port=5432;Database=epzeu_dev;Application Name=EPZEU.Web.Api;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="postgre:NotificationChanel" value="cache_invalidation" />
    <add key="AnonymousUserProfileID" value="1" />
    <add key="chunkSize" value="1048576" />
    <add key="ComReg:ApiBaseAddress" value="http://ws-soft13/Integration.EPZEU.Api/api/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GL_EPZEU_API" value="http://localhost/EPZEU.Web.Api/" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BSecureSOAPBinding">
          <security mode="Transport">
            <transport proxyCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dssl.b-trust.bg" binding="basicHttpBinding"
        bindingConfiguration="BSecureSOAPBinding" contract="BSecureService.BSecurePortType"
        name="BSecurePort" />
    </client>
  </system.serviceModel>
</configuration>