@model TokenViewModel

<div>
    НАП Симулатор
    <br />
    <form asp-controller="Token" method="post">
        <input name="UserIdentifier" placeholder="Въведи идентификатор (ЕГН)" autofocus>
        <br />
        <button name="button" value="login">Генерирай</button>
    </form>
</div>
