<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section allowDefinition="Everywhere" requirePermission="false" name="SMTPProviderConfiguration" restartOnExternalChanges="true" type="EPZEU.Emails.SMTPProviderConfiguration, EPZEU.Emails" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CNSys.Utilities" publicKeyToken="2506579f8d31dbc0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.0" newVersion="2.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CNSys.Core" publicKeyToken="2506579f8d31dbc0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <!--Настройки за връзка към базата данни
    Data Source = идентификатор от TNSNames.ora файла за достъп до базата данни.
    User id = потребител 
    Password = парола
    -->
    <add name="defaultRWConnectionString" connectionString="User Id=epzeu_dev;Password=epzeu_dev;Host=vm-av-epzeu-db2.dev.local;Port=5432;Database=epzeu_dev;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="postgre:NotificationChanel" value="cache_invalidation" />

    <add key="Emails:MaxPendingCount" value="1" />
    <add key="Emails:Interval" value="00:00:30" />

    <add key="GL_EPZEU_API" value="https://localhost/EPZEU.Web.Api/" />
    <add key="GL_IDSRV_URL" value="https://localhost/EPZEU.Web.IdentityServer/" />
    <add key="ComReg:ApiBaseAddress" value="http://ws-soft53.cnsys.plc/Integration.EPZEU.Api/api/" />
  </appSettings>

  <SMTPProviderConfiguration>
    <SMTPProviders>
      <add name="public" smtpHost="devmail.dev.local" smtpSecurity="Unsecure" smtpDefaultPort="25" smtpAuthentication="Auto" networkUser="dev\mailsender" networkPass="R1r2r3r4" emailFrom="mailsender@dev.cnsys.bg"></add>
      <add name="private" smtpHost="devmail.dev.local" smtpSecurity="Unsecure" smtpDefaultPort="25" smtpAuthentication="Auto" networkUser="dev\mailsender" networkPass="R1r2r3r4" emailFrom="mailsender@dev.cnsys.bg"></add>
    </SMTPProviders>
  </SMTPProviderConfiguration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAdmServicesService" maxReceivedMessageSize="2000000000" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://vm-iisda-app1.dev.local:19001/AdmServices.IntegrationServices/AdmServicesService.svc" 
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdmServicesService" 
                contract="AdministrativeServices.Integration.Core.Contract.IAdmServicesService" name="IISDAAdmServicesServiceClientName" />
    </client>
  </system.serviceModel>
  
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
