<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            	<!--
                <rule name="HTTPS redirect" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />						
                    </conditions>
                    <action type="Redirect" url="https://vm-av-epzeu-ap1.dev.local:9443{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                -->
                <!--
                <rule name="Header - env image" stopProcessing="true">
                    <match url="^(.*)images/registryagency-logo.svg" />
                    <action type="Redirect" url="https://vm-av-epzeu-ap1.dev.local:10443/env/registryagency-logo-DEV.svg" redirectType="Temporary" />
                </rule>
                -->
                <rule name="File or directory rule" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>				
                <rule name="Rewrite rule" stopProcessing="true">
                    <match url="^.*$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>